root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[.gitconfig]
end_of_line = lf
indent_style = tab

[.hyper.js]
indent_size = 4
indent_style = space

# BOM necessary for Unicode characters
# - https://stackoverflow.com/a/14482588
# - https://autohotkey.com/board/topic/91711-unicode-bom/?p=578486
[*.{ahk,ps1}]
charset = utf-8-bom

[*.md]
trim_trailing_whitespace = false
