[include]
    path = .gitconfig.custom

[alias]
	# http://stackoverflow.com/a/7149602
	addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'

	# git branch archive/unarchive
	branch-archive = !git tag archive/$1 $1 && git branch -D $1 && :
	branch-unarchive = !git branch $1 archive/$1 && git tag -d archive/$1 && :

	# https://github.com/so-fancy/diff-so-fancy#raw-patches
	patch = !git --no-pager diff --no-color

[color]
	ui = true

[color "diff"]
	whitespace = red reverse
	meta = yellow
	frag = magenta bold
	func = black bold
	commit = yellow bold
	old = red bold
	new = green bold

# [color "diff-highlight"]
# 	oldNormal = red bold
# 	oldHighlight = red reverse
# 	newNormal = green bold
# 	newHighlight = green reverse

[commit]
	verbose = true

[credential]
	helper = wincred

[push]
	# Allows pushing for the first time with just `git push -u` instead of `git push -u origin HEAD`
	default = current

[core]
	# Note: diff-so-fancy seems to make `git diff` extremely slow; investigate
	# https://github.com/so-fancy/diff-so-fancy#usage
	pager = diff-so-fancy | less --tabs=4 -RFX

	# # Hide ^M (Carriage Return) in diffs
	# # https://lostechies.com/keithdahlby/2011/04/06/windows-git-tip-hide-carriage-return-in-diff/
	# whitespace = cr-at-eol

[diff]
	tool = winmerge

[difftool]
	prompt = false

[difftool "winmerge"]
	cmd = winmergeu -r -e -u -wl -fr "$LOCAL" "$REMOTE"

[log]
	follow = true

[merge]
	tool = winmerge

[mergetool]
	keepBackup = false
	trustExitCode = false

[mergetool "winmerge"]
	# WinMerge w/ 3-way merge support; install with `scoop install winmerge`
	cmd = winmergeu -e -u -fm -dl Ours -dm "$MERGED" -dr Theirs "$LOCAL" "$BASE" "$REMOTE" -o "$MERGED"

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
